//Font
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

//Color Design
$primary : #5de2ba;
$secondary : #FCBFB7;
$grey: #333;
$accent1: #3e3025f7;
$accent2: #334E58;
$accent3: #6B6D76;

//resets
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Serif';
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: #80270012;
}

.highlight {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=FCBFB7);
    margin: -2px -6px;
    padding:  2px  6px;
}

#error p{
    font-size: 2rem;
    color: crimson;
}

.container{
    width: 80%;
    margin:0 auto;
    min-height: calc(100vh - 6rem - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appHeader{
    background-color: $accent1;
    color: $secondary;
    font-size: 4rem;
    padding: 2rem 4rem;
}

.footer{
    background-color: $accent2;
    color: rgb(202, 201, 201);
    font-size: 1rem;
    padding: 0.5rem 2rem;
    text-align: center;
    margin-top: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 3rem;
    border: 2px solid #334E58;
    width: 50%;
    font-size: 2.5rem;
    border-radius: 30px;
    box-shadow: 0px 0px 10px $grey;
}

.form input{
    font-size: 2.5rem;
    margin: 1rem;
    padding: 1rem;
    color: $grey;
}

.btn{
    background-color: $primary;
    cursor: pointer;
    border: 0 solid white;
    font-weight: 700;
    color: $grey;
    transition: all 1s ease;
}

.btn:hover{
    background-color: $secondary;
    cursor: pointer;
}

#weather{
    display: flex;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid #334E58;
    width: 80%;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0px 0px 10px $grey;
}

#weather p,
#images p,
#weather span{
    font-size: 2rem;
    font-weight: 700;
}

.hidden{
    display: none !important;
}

#images{
    font-size: 2rem;
    color: #334E58;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1rem;
    border: 2px solid #334E58;
    border-radius: 30px;
    width: 80%;
    justify-content: center;
}

.big-img{
    width: 90%;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 0px 10px darken($secondary, $amount: 50);
    transition: all 1s ease;
}

.big-img:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px darken($primary, $amount: 50);
}

.small-img:nth-child(odd){
    box-shadow: 0px 0px 10px darken($secondary, $amount: 50);
    transition: all 1s ease;
}

.small-img:nth-child(odd){
    box-shadow: 0px 0px 10px darken($primary, $amount: 50);
    transition: all 1s ease;
}

.small-img:hover{
    transform: scale(1.05);;
}

#print-btn i{
    font-size: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 1250px){
    html{
        font-size: 7px;
    }
    .container{
        width: 95%;
    }
    .form{
        width: 90%;
    }
    #weather{
        width: 90%;
        flex-direction: column;
        align-items: center
    }
    #weather p{
        margin: 1rem;
    }
    #images{
        width: 90%;
    }
}